<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>embeddedPath</key>
		<string>embedded_missions/com.parrot.missions.samples.hello_7.0.0-beta49.tar.gz</string>
		<key>md5</key>
		<string>ebc3a14e04f8422d0025bcdf988cae2f</string>
		<key>name</key>
		<string>Hello mission</string>
		<key>size</key>
		<integer>37629</integer>
		<key>uid</key>
		<string>com.parrot.missions.samples.hello</string>
		<key>version</key>
		<string>7.0.0-beta49</string>
	</dict>
</array>
</plist>
