<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>embeddedPath</key>
		<string>embedded_missions/com.parrot.missions.samples.hello_7.5.0.tar.gz</string>
		<key>maxTargetVersion</key>
		<string>7.5.99</string>
		<key>md5</key>
		<string>2f9034a10633cd0cbd32d3d860c2f35b</string>
		<key>minTargetVersion</key>
		<string>7.5.0</string>
		<key>name</key>
		<string>Hello mission</string>
		<key>size</key>
		<integer>47567</integer>
		<key>uid</key>
		<string>com.parrot.missions.samples.hello</string>
		<key>version</key>
		<string>7.5.0</string>
	</dict>
</array>
</plist>
