<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>embeddedPath</key>
		<string>embedded_missions/com.parrot.missions.samples.hello_7.0.0-rc24.tar.gz</string>
		<key>maxTargetVersion</key>
		<string>7.0.20</string>
		<key>md5</key>
		<string>03773c02aea0656e3afd5ca398e1df92</string>
		<key>minTargetVersion</key>
		<string>7.0.0-rc23</string>
		<key>name</key>
		<string>Hello mission</string>
		<key>size</key>
		<integer>44149</integer>
		<key>uid</key>
		<string>com.parrot.missions.samples.hello</string>
		<key>version</key>
		<string>7.0.0-rc24</string>
	</dict>
	<dict>
		<key>embeddedPath</key>
		<string>embedded_missions/com.parrot.missions.ophtalmo_7.0.0-rc24.tar.gz</string>
		<key>maxTargetVersion</key>
		<string>7.0.20</string>
		<key>md5</key>
		<string>2e0b5a6e0c962090065fa220bdf9d023</string>
		<key>minTargetVersion</key>
		<string>7.0.0-rc23</string>
		<key>name</key>
		<string>ophtalmo</string>
		<key>size</key>
		<integer>2279212</integer>
		<key>uid</key>
		<string>com.parrot.missions.ophtalmo</string>
		<key>version</key>
		<string>7.0.0-rc24</string>
	</dict>
</array>
</plist>
